{% extends "base.html" %}

{% block addzawodnicy  %}
    <div class="powrot">
          <p><a href="http://127.0.0.1:8000/zawodnicy/">Powrót</a></p>
    </div>
{% if flag == 1 %}
<div align="center">
    <br>
    <font size="+1">Dodano nowego zawodnika! Dodaj kolejnego zawodnika lub wróć do listy zawodników.</font><br><br><br>
</div>
{% elif flag == 2 %}
<div align="center">
    <br>
    <font size="+1">Nie udało się dodać zawodnika.</font><br><br><br>
</div>
{% elif flag == 3 %}
<div align="center">
    <br>
    <font size="+1">Nie udało się dodać zawodnika. Uzupełnij wszystkie pola oznaczone gwiazdką!</font><br><br><br>
</div>
{% endif %}
<div align="center">
    <form method="get" action="{% url 'dodajzawodnika' %}">
        <font size="+2">Imię*</font><br>
        <input type="text" name="imie"><br>
        <font size="+2">Nazwisko*</font><br>
        <input type="text" name="nazwisko"><br>
        <font size="+2">PESEL</font><br>
        <input type="text" name="pesel"><br>
        <font size="+2">Data urodzenia</font><br>
        <input type="date" name="data_ur"><br>
        <font size="+2">Płeć</font><br>
        <select id="plec" name="plec">
                <option value="K">Kobieta</option>
                <option value="M">Mężczyzna</option>
        </select><br>
        <font size="+2">Grupa*</font><br>
        <select id="grupa" name="grupa" type="date">
            {% for foo in grupy %}
                <option value="{{foo.0}}">{{foo.1}}</option>
        {% endfor %}
        </select><br>

        <font size="+2">Adres email (zostanie tam wysłane hasło)*</font><br>
        <input type="text" name="email"><br>
        <font>* - pole obowiązkowe</font><br>
        <input type="submit" value="Dodaj" name="Dodaj">
    </form>
</div>

{% endblock %}