{% extends "base.html" %}

{% block addtypedisc %}
    <div class="powrot">
          <p><a href="http://127.0.0.1:8000/zawodnicy/">Powrót</a></p>
    </div>
<div align="center">
    <form method="get" action="{% url 'dodajtypdyscypliny' %}">
        <font size="+2">Nazwa*</font><br>
        <input type="text" name="nazwa"><br>
        <input type="submit" name="Dodaj" value="Dodaj">
    </form>
</div>
<div align="center">
    <br>
    * - pole obowiązkowe
</div>

{% endblock %}