{% extends "base.html" %}

{% block edittrenerzy  %}
    <div class="powrot">
          <p><a href="{% url 'detail_coach_view' id %}">Powrót</a></p>
    </div>
<div align="center">
    <form>
        <font size="+2">Imię*</font><br>
        <input type="text" name="imie" value={{trenerzy.1}}><br>
        <font size="+2">Nazwisko*</font><br>
        <input type="text" name="nazwisko" value={{trenerzy.2}}><br>
        <font size="+2">PESEL</font><br>
        {% if trenerzy.3 is None %}
            <input type="text" name="pesel"><br>
        {% else %}
            <input type="text" name="pesel" value={{trenerzy.3}}><br>
        {% endif %}
        <font size="+2">Data urodzenia</font><br>
        <input type="date" name="data_ur" value={{trenerzy.4}}><br>
        <font size="+2">Płeć</font><br>
        <select id="plec" name="plec">
            {% if trenerzy.5 == 'M' %}
                <option selected="M">Mężczyzna</option>
                <option value="K">Kobieta</option>
            {% elif trenerzy.5 == 'K' %}
                <option selected="K">Kobieta</option>
                <option value="M">Mężczyzna</option>
            {% else %}
                <option selected=""></option>
                <option value="M">Mężczyzna</option>
                <option value="K">Kobieta</option>
            {% endif %}
        </select><br>
    </form>
</div>
<div align="center">
    <br>
    * - pole obowiązkowe
</div>
<div class="container" align="center">
    <a href="http://127.0.0.1:8000/dodajzawodnika">
        <button class="btn">Zapisz</button>
    </a>
</div>
{% endblock %}