{% extends "base.html" %}
{% block detailzawodnicy %}
    <div class="powrot">
        <p><a href="http://127.0.0.1:8000/zawodnicy/">Powrót</a></p>
    </div>
    <div align="center">
   <font size="+5">Zawodnik</font> <br>
    <br>
    <font size="+3" color="#696969">IMIĘ:</font><font size="+3"> {{zawodnicy.1}} </font> <br>
    <br>
    <font size="+3" color="#696969">NAZWISKO:</font><font size="+3"> {{zawodnicy.2}} </font> <br>
    <br>
     {% if zawodnicy.3 is not Null %}
    <font size="+3" color="#696969">PESEL:</font><font size="+3"> {{zawodnicy.3}} </font> <br><br>
         {% else %}
        <font size="+3" color="#696969">PESEL:</font><font size="+3"> brak danych </font> <br><br>
        {% endif %}
    {% if zawodnicy.4 is not Null %}
    <font size="+3" color="#696969">DATA URODZENIA:</font><font size="+3"> {{data}} </font> <br><br>
       {% else %}
        <font size="+3" color="#696969">DATA URODZENIA:</font><font size="+3"> brak danych </font> <br><br>
    {% endif %}
    {% if zawodnicy.5 == 'M' %}
        <font size="+3" color="#696969">PŁEĆ:</font><font size="+3"> Mężczyzna </font> <br><br>
    {% else %}
        <font size="+3" color="#696969">PŁEĆ:</font><font size="+3"> Kobieta </font> <br><br>
    {% endif %}
        <font size="+3" color="#696969">GRUPA:</font><font size="+3"> {{grupa}} </font> <br>
    <br>



</div>
<div class="container" align="center">
    <a href="http://127.0.0.1:8000">
        <button class="btn">Dieta</button>
    </a>
    <a href="{% url 'add_disccomp_view' id %}">
        <button class="btn">Przypisz dyscyplinę</button>
    </a>
    <a href="{% url 'edit_competitor_view' id %}">
        <button class="btn">Edytuj dane</button>
    </a>
    <a href="{% url 'usun' zawodnicy.0 'zawodnik'%}">
        <button class="btn">Usuń zawodnika</button>
    </a>
{#    <form method="get" action="{% url 'usun' zawodnicy.0 'zawodnik'%}">#}
{#        <input class="btn" type="submit" name="Usuń" value="Usuń">#}
{#    </form>#}
</div>
    <div align="center">
    {% if l != 0 %}
    <table>
        <caption>Dyscypliny:</caption>
        <tr>
            <th>Nazwa</th>
            <th>Rekord życiowy</th>
            <th>Data rozpoczęcia</th>
        </tr>
            {% for foo in dysc %}
                    <tr>
                    {% for dane in foo %}
                        <td>{{ dane }}</td>
                    {% endfor %}
                    </tr>
            {% endfor %}
    </table>
        {% endif %}
</div>
{% endblock %}