{% extends 'base.html' %}

{% block plany  %}
<div align="center">
    <table>
        <caption>Moje plany treningowe:</caption>

        <tr>
            <th>ID</th>
            <th>Autor</th>
            <th></th>
        </tr>
        {% for foo in moje_plany %}
        <tr>
            <td>{{ foo.0 }}</td>
            <td>{{ foo.1 }}</td>
            <td><a href="http://127.0.0.1:8000/grupy/">info</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div align="center">
    <table>
        <caption>Plany treningowe:</caption>
        <tr>
            <th>ID</th>
            <th>Autor</th>
            <th></th>
        </tr>
                {% for foo in grupy %}
        <tr>
            <td>{{ foo.0 }}</td>
            <td>{{ foo.1 }}</td>
            <td><a href="http://127.0.0.1:8000/details_group/">info</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container" align="center">
    <a href="http://127.0.0.1:8000">
        <button class="btn">Dodaj nowy plan</button>
    </a>
</div>
{% endblock %}

