{% extends 'base.html' %}

{% block grupy  %}
<div align="center">
    <table>
        <caption>Moje grupy:</caption>

        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th></th>
        </tr>
        {% for foo in moje_grupy %}
        <tr>
            <td>{{ foo.0 }}</td>
            <td>{{ foo.1 }}</td>
            <td><a href="http://127.0.0.1:8000/grupy/">info</a></td>
        </tr>

        {% endfor %}


{#        <tr>#}
{#            <td>2</td>#}
{#            <td>Sprinterzy M U12</td>#}
{#             <td><a href="http://127.0.0.1:8000/grupy">info</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>3</td>#}
{#            <td>Spinterzy K U15</td>#}
{#             <td><a href="http://127.0.0.1:8000/grupy">info</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>4</td>#}
{#            <td>Sprinterzy M U15</td>#}
{#             <td><a href="http://127.0.0.1:8000/grupy">info</a></td>#}
{#        </tr>#}
    </table>
</div>

<div align="center">
    <table>
        <caption>Grupy:</caption>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th></th>
        </tr>
                {% for foo in grupy %}
        <tr>
            <td>{{ foo.0 }}</td>
            <td>{{ foo.1 }}</td>
            <td><a href="http://127.0.0.1:8000/details_group/" content="1">info</a></td>
        </tr>

        {% endfor %}
{#        <tr>#}
{#            <td>1</td>#}
{#            <td>Sprinterzy K U12</td>#}
{#            <td><a href="http://127.0.0.1:8000/grupy">info</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>2</td>#}
{#            <td>Sprinterzy M U12</td>#}
{#             <td><a href="http://127.0.0.1:8000/grupy">info</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>3</td>#}
{#            <td>Spinterzy K U15</td>#}
{#             <td><a href="http://127.0.0.1:8000/grupy">info</a></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>4</td>#}
{#            <td>Sprinterzy M U15</td>#}
{#             <td><a href="http://127.0.0.1:8000/grupy">info</a></td>#}
{#        </tr>#}
    </table>
</div>

<div class="container" align="center">
    <a href="http://127.0.0.1:8000">
        <button class="btn">Stwórz grupę</button>
    </a>
</div>
{% endblock %}

