{% extends "base.html" %}

{% block grupy  %}
<div class="table" align="center">
    <table>
        <caption>Zawodnicy:</caption>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jan</td>
            <td>Kowalski</td>
            <td><a href="http://127.0.0.1:8000" color=#FF0000>info</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Adam</td>
            <td>Zacharczuk</td>
             <td><a href="http://127.0.0.1:8000">info</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tomasz</td>
            <td>Strzeszewski</td>
             <td><a href="http://127.0.0.1:8000">info</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Aleksandra</td>
            <td>Nowak</td>
             <td><a href="http://127.0.0.1:8000">info</a></td>
        </tr>
    </table>
</div>
{% endblock %}