{% extends "base.html" %}

{% block addplany  %}
    <div class="powrot">
          <p><a href="http://127.0.0.1:8000/zawodnicy/">Powrót</a></p>
    </div>
<div align="center">
    <form method="get" action="">
        <font size="+2">Autor*</font><br>
        <select id="autor" name="autor">
            {% for foo in trenerzy %}
                <option value={{foo.0}}>{{foo.1}} {{foo.2}}</option>
        {% endfor %}
        </select><br>
        <font size="+2">Opis*</font><br>
        <textarea name="opis" rows="5" cols="40"></textarea><br>
        <input type="submit" name="Dodaj" value="Dodaj">
    </form>
</div>
<div align="center">
    <br>
    * - pole obowiązkowe
</div>

{% endblock %}