{% extends "base.html" %}

{% block addgrupy  %}
    <div class="powrot">
          <p><a href="http://127.0.0.1:8000/zawodnicy/">Powrót</a></p>
    </div>
<div align="center">
    <form method="get" action="{% url 'dodajgrupe' %}">
        <font size="+2">Nazwa*</font><br>
        <input type="text" name="nazwa"><br>
        <font size="+2">Trener*</font><br>
        <select id="trener" name="trener">
            {% for foo in trenerzy %}
                <option value={{foo.0}}>{{foo.1}} {{foo.2}}</option>
        {% endfor %}
        </select><br>
        <font size="+2">Typ*</font><br>
        <select id="typ" name="typ">
            {% for foo in typy %}
                <option value={{foo.0}}>{{foo.0}}</option>
        {% endfor %}
        </select><br>
        <input type="submit" value="Dodaj" name="Dodaj">
    </form>
</div>
<div align="center">
    <br>
    * - pole obowiązkowe
</div>

{% endblock %}