{% extends "base.html" %}

{% block dyscypliny  %}
<div align="center">
    <table>
        <caption>Dyscypliny:</caption>
        <tr>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Rekord klubu</th>
            <th></th>
            <th></th>
        </tr>
        {% for foo in dyscypliny %}
        <tr>
            <td>{{ foo.0 }}</td>
            <td>{{ foo.3 }}</td>
             {% if foo.1 is not None %}
                <td>{{ foo.1 }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td><a href="http://127.0.0.1:8000/grupy/">nowy rekord</a></td>
            <td><a href="{% url 'usun' foo.0 'dyscyplina' %}">usuń</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container" align="center">
    <a href="http://127.0.0.1:8000/dodajdyscypline">
        <button class="btn">Dodaj dyscyplinę</button>
    </a>
    <a href="http://127.0.0.1:8000/typydyscyplin">
        <button class="btn2">Typy dyscyplin</button>
    </a>
</div>
{% endblock %}