{% extends "base.html" %}
{% block detailsplan %}
     <div class="powrot">
          <p><a href="http://127.0.0.1:8000/plany/">Powrót</a></p>
    </div>
    <div align="center">
     <font size="+5" color="#696969">Autor: </font><font size="+5">{{autor}}</font> <br><br>
    <font size="+3"> {{plan.2}} </font> <br>
    <br>
</div>
 {% if mp != 0 %}
    <div class="container" align="center">
            <a href="{% url 'edit_plan_view' id %}">
                <button class="btn">Edytuj</button>
            </a>
            <a href="http://127.0.0.1:8000">
                <button class="btn">Usuń plan</button>
            </a>
    </div>
        {% endif %}

{% endblock %}
