{% extends "base.html" %}

{% block zawodnicy  %}
<div align="center">
    <form method="get" action="{% url 'zawodnicy' %}">
        Nazwisko:
       <input type="text" name="nazwisko">
        ID:
       <input type="number" min="0" name="id"><br>
        <input type="submit" value="Szukaj" name="submit">
   </form>
</div>
<div align="center">
    <table>
        <caption>Zawodnicy:</caption>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th></th>
        </tr>
        {% for foo in zawodnicy %}
        <tr>
            <td>{{ foo.0 }}</td>
            <td>{{ foo.1 }}</td>
            <td>{{ foo.2 }}</td>
            <td><a href="{% url 'detail_competitor_view' foo.0 %}" >info</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container" align="center">
    <a href="http://127.0.0.1:8000/dodajzawodnika">
        <button class="btn">Dodaj zawodnika</button>
    </a>
</div>
{% endblock %}