{% extends 'base.html' %}
{%  block title %}
    {% if user.is_authenticated is not True %}
        <h1 align="center"> Zaloguj się aby skorzystać z aplikacji! </h1>

        {% else %}
            <h1>Witaj, {{ username|make_list|slice:'0:'|join:'' }}!</h1>
            <h3>Miłego korzystania z naszej aplikacji :)</h3>
    {% endif %}


{%  endblock  %}

{% block content %}
    <h1> That's what she said</h1>
    <!-- Używanie kontekstu do wstawiania danych-->
    <p>{{ kursor }}</p>
 <!-- Pętla for w templatce-->
    {% for x in kursor %}
        <p>
        <li>
        {{ x }}
        </li>
        </p>
    {% endfor %}
{% endblock %}