{% extends "base.html" %}

{% block profil  %}
<div align="center">
     <font size="+5">{{funkcja}}</font> <br>
    <br>
    <font size="+3" color="#696969">IMIĘ:</font><font size="+3"> {{imie}} </font> <br>
    <br>
    <font size="+3" color="#696969">NAZWISKO:</font><font size="+3"> {{nazwisko}} </font> <br>
    <br>
    <font size="+3" color="#696969">PESEL:</font><font size="+3"> {{pesel}} </font> <br>
    <br>
    <font size="+3" color="#696969">DATA URODZENIA:</font><font size="+3"> {{data_ur}} </font> <br>
</div>
{% endblock %}